fastapi
uvicorn[standard]
pydantic
langgraph
langgraph-checkpoint-postgres
langchain
langchain-core
psycopg[binary,pool]
pgvector
python-dotenv
langchain-google-genai
langchain-openai
mysql-connector-python
